.platform-container {
    background: #9aa2a25e;
    margin: auto;
    padding: 20px;
}

.segment {
}

.platform-info {
    padding: 20px;
}

.app-frame {
    max-width: 350px;
    height: 700px;
    display: block;
    margin: auto;
}

.style-blue {
    color: #00c9db;
}

.platform-info-content {
    font-size: 1.2rem;
    color: #FFF8DC;
    text-align: center;
}

.astrix {
    font-size: 0.7rem;
}
